<!--Barra de navegação-->

<div class="container-fluid bg-landing">

  <nav class="navbar  navbar-expand-lg bg-nav sticky-top">
    <a class="navbar-brand" href="#inicio"><img class="ml-5 tm-logo img-fluid mb-0" src="../../assets/img/logo.png"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-center text-white collapse navbar-collapse " id="conteudoNavbarSuportado">

      <ul class="navbar-nav font nav-font">

        <li class="mr-5">
          <a class="font-weight-bold nav-font" href="#inicio">Início</a>
        </li>

        <li class="nav-item mr-5">
          <a class="font-weight-bold nav-font" href="#sobre">Sobre</a>
        </li>

        <li class="nav-item mr-5">
          <a class="font-weight-bold nav-font" routerLink='/cadastrar'>Cadastre-se</a>
        </li>

        <li class="nav-item mr-5">
          <a class="font-weight-bold nav-font" routerLink='/entrar'>Entrar</a>
        </li>

        <li class="nav-item">
          <a class="font-weight-bold nav-font" href="#equipe">Equipe</a>
        </li>
      </ul>

    </div>
  </nav>
  <!--Inicio-->
  <hr id="inicio" class=" mt-0">
  <div class="container mt-100">
    <div class="row ">
      <div class="col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="5000" data-aos-once="true">
        <h1 class="page-font">Faça seu <span style="text-decoration: underline;">conhecimento</span>
          <br>chegar a <br>todos
        </h1>
      </div>
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
        <img src="../../assets/img/conexao.gif" alt="">
      </div>
    </div>
  </div>
  <!--Direção NavBar-->
  <hr id="sobre" class=" mt-0 mb-5">
  <hr class="mt-5 mb-5">
  <!--Sobre 1-->
  <div class="container mt-75">
    <div class="row">
      <div class="col-md-6 mt-120">
        <img src="../../assets/img/mulher.png" alt="Mulher">
      </div>
      <div class="col-md-6 mt-75 border-text posicao" data-aos="fade-left" data-aos-duration="3000"
        data-aos-once="true">
        <h1 class="p-3 page-font-white">O EducaUS é onde você se aproxima de pessoas pela
          educação. Conecte-se com o conhecimento <br><br><br>
          #LearnAndShare</h1>
      </div>
    </div>
  </div>

  <!--Direção NavBar-->
  <hr class=" mt-0 mb-5">
  <hr class="mt-5 mb-5">
  <!--Sobre_2-->
  <div class="container mt-75">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/pessoas.png" alt="Pessoas">
      </div>
      <div class="col-md-6 mt-5">
        <h1 class="pl-3 page-font-white border-text-cadastro posicao-cadastro mb-0">Cadastre-se</h1>
        <h1 class="pl-3 border-text-aprenda posicao-aprenda mb-0">Aprenda</h1>
        <h1 class="p-3 page-font-white border-text-ensine posicao-ensine">Ensine
        </h1>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <h1 class="pl-2 border-text-pergunta posicao-pergunta" data-aos="fade-right" data-aos-duration="3000"
            data-aos-once="true">O que sabe fazer? O que quer aprender? </h1>
        </div>
      </div>
    </div>
  </div>

  <!--Direção NavBar-->
  <hr id="cadastro" class=" mt-0 mb-5">
  <hr class="mt-5 mb-5">
  <!--Cadastro-->
  <div class="container mt-75">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h1 class="border-text-conecta posicao-conecta d-flex justify-content-center align-items-center text-center"
          data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
          Conecte-se com milhares de pessoas<br>
          compartilhando conhecimento e<br>
          alcançando pessoas em todo mundo</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 align-items-center">
      <div class="col-md-12 d-flex row-reverse justify-content-around">
        <img data-aos="fade-right" data-aos-duration="3000" data-aos-once="true" src="../../assets/img/seta1.png">
        <h1 class="p-3 border-text-cadastre_se posicao-cadastre_se "><a routerLink='/cadastrar'>Cadastre-se</a></h1>
        <img data-aos="fade-left" data-aos-duration="4000" data-aos-once="true" src="../../assets/img/seta2.png">
      </div>

    </div>

  </div>

  <!--Direção NavBar-->
  <hr id="equipe" class=" mt-100">
  <hr class="mt-5 mb-5">

  <!--Equipe-->
  <div class="container mt-75">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 d-flex justify-content-center">
        <h1 class="pl-3 border-text-squad ">Conheça nossa squad:</h1>
      </div>
    </div>

    <div class="container mt-75">
      <!--BIA E ALE-->
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4 card-squad rounded">
              <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#beatriz">
                  <img class="img-border" src="../../assets/img/bea.png" alt="">
                </a>
              </div>
              <div class="redes text-center mb-2">
                <a href="https://github.com/Beatriz-Oliveira-Dev" target="_blank">
                  <i class="rs-border fa fa-github-square" aria-hidden="true" href=""></i></a>
                |
                <a href="https://www.linkedin.com/in/beatriz-l-88ab81117/" target="_blank"><i
                    class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center card-squad rounded">
              <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title mb-0 font font-weight-bold">
                        <a class="rounded" data-toggle="collapse" data-parent="#accordion" href="#beatriz">Beatriz
                          Oliveira</a>
                      </h4>
                    </div>
                    <div id="beatriz" class="panel-collapse collapse in ">
                      <div class="panel-body text-justify">Apaixonada por tecnologia desde pequena, Beatriz está sempre
                        em constante evolução a faculdade de Design de Interiores a fez adorar desenvolver projetos
                        criativos.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center card-squad rounded">
              <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title mb-0 font font-weight-bold">
                        <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion"
                          href="#alexandre">Alexandre N.</a>
                      </h4>
                    </div>
                    <div id="alexandre" class="panel-collapse collapse in ">
                      <div class="panel-body text-justify">Meu esporte preferido é o futebol,
                        mas o basquete por vezes enche meus olhos. Já na tecnologia, back-end é o futebol e, o front-end
                        o basquete.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 card-squad rounded">
              <div>
                <a data-toggle="collapse" data-parent="#accordion"
                href="#alexandre">
                <img class="img-border" src="../../assets/img/ale.png" alt="">
              </a>
              </div>
              <div class="redes text-center mb-2">
                <a href="https://github.com/Ale-noga" target="blank">
                  <i class="rs-border fa fa-github-square" aria-hidden="true" href=""></i>
                </a> |
                <a href="https://www.linkedin.com/in/alexandre-nogueira-88262716a/" target="blank">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--GABRIEL E LUCAS-->
      <div class="row  mb-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4 card-squad rounded">
              <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#gabriel">
                  <img class="img-border" src="../../assets/img/gab.png" alt="">
                </a>
              </div>
              <div class="redes text-center mb-2">
                <a href="https://github.com/brMonteiro-G" target="blank">
                  <i class="rs-border fa fa-github-square" aria-hidden="true"></i>
                </a> |
                <a href="https://www.linkedin.com/in/gabriel-monteiro-2b6a79207/" target="blank">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center card-squad rounded">
              <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title mb-0 font font-weight-bold">
                        <a class="rounded" data-toggle="collapse" data-parent="#accordion" href="#gabriel">Gabriel
                          Monteiro</a>
                      </h4>
                    </div>
                    <div id="gabriel" class="panel-collapse collapse in ">
                      <div class="panel-body text-justify">Sempre me perguntam o que eu sei, e sempre respondo: Estou disposto para
                        aprender! O conhecimento é ilimitado e a paixão por descobrir tecnologia e novas visões me
                        encantam.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center card-squad rounded">
              <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title mb-0 font font-weight-bold">
                        <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion"
                          href="#lucas">Lucas Pereira</a>
                      </h4>
                    </div>
                    <div id="lucas" class="panel-collapse collapse in ">
                      <div class="panel-body text-justify">Paulistano e apaixonado por tecnologia. Eu tenho domínio em
                        desenvolvimento de API's (Spring Framework), front-end (Angular Framework) e banco de dados
                        relacionais (MySQL).
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 card-squad rounded">
              <div>
                <a data-toggle="collapse" data-parent="#accordion"
                href="#lucas">
                <img class="img-border" src="../../assets/img/luc.png" alt=""></a>
              </div>
              <div class="redes text-center mb-2">
                <a href="https://github.com/lucasspereira" target="blank"> <i class="rs-border fa fa-github-square" aria-hidden="true"></i></a> |
                <a href="https://www.linkedin.com/in/lcspereira/" target="blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--MATEUS E ALEXSANDRO-->
      <div class="row  mb-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4 card-squad rounded">
              <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#mateus"><img class="img-border" src="../../assets/img/mat.png" alt=""></a>
              </div>
              <div class="redes text-center mb-2">
                <a href="https://github.com/mateuspeixoto" target="blank">
                  <i class="rs-border fa fa-github-square" aria-hidden="true"></i>
                </a> |
                <a href="https://www.linkedin.com/in/perfilmateuspeixoto/" target="blank">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </div>  
            </div>
            <div class="col-md-6 d-flex align-items-center card-squad rounded">
              <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title mb-0 font font-weight-bold">
                        <a class="rounded" data-toggle="collapse" data-parent="#accordion" href="#mateus">Mateus
                          Peixoto</a>
                      </h4>
                    </div>
                    <div id="mateus" class="panel-collapse collapse in ">
                      <div class="panel-body text-justify">Criar faz parte da minha essência, Técnico em Mecatrônica , seguindo
                        carreira como cientista e agora Desenvolvedor Web, apoio objetivos sociais e ambientais.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center card-squad rounded">
              <div class="container">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title mb-0 font font-weight-bold">
                        <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion"
                          href="#alex">Alexsandro A.</a>
                      </h4>
                    </div>
                    <div id="alex" class="panel-collapse collapse in ">
                      <div class="panel-body text-justify">Fascinado por aprender outros idiomas e novas culturas. Quero adquirir
                        mais conhecimento através da programação e suas infinitas possiblidades!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 card-squad rounded">
              <div>
                <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion"
                href="#alex">
                <img class="img-border" src="../../assets/img/alex.png" alt="">
                </a>
              </div>
              <div class="redes text-center mb-2">
                <a href="https://github.com/Alexsandro-Assun" target="blank">
                  <i class="rs-border fa fa-github-square" aria-hidden="true" ></i>
                </a> |
                <a href="https://www.linkedin.com/in/alexsandro-assun%C3%A7%C3%A3o-719523207/" target="blank">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>