/*ESTILO NAVBAR*/

.tm-logo{
    width: 160px ;
    height: 90px ;
}

.bg-nav{
    background-color: rgba(250, 250, 250, 0.815);
    border-bottom: 1px solid #ACB1B9;
       
}

.nav-font{
    font-size: 18pt;
    color: #004AAD;
    
}

ul li a{
    transition: all 0.5s;
    border: 1px solid transparent;
    text-decoration: none;
}

ul li a:hover{
    border: 1px solid #004AAD;
    padding: 5px;   
    border-radius: 1%;
}

.ml-200{
    margin-left: 200px;
}

/*POSICIOMAMENTO ELEMENTOS DAS PAGINAS*/

.page-font{
    font-size: 50pt;
    color: #004AAD;
}

.page-font-white{
    font-size: 30pt;
    color: white;
}

.img-mt-3{
    margin-top: -3px;
}

.border-text{
    background-color: #004AAD;
    width: 850px;
    height: 377px;
    box-shadow: 10px 0px 10px #888888;
}

.border-text-cadastro{
    background-color: #004AAD;
    font-size: 70pt;
    width: 539px;
    height: 123px;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.border-text-cadastro:hover{
    background-color: #fff;
    color: #004AAD;
    font-size: 70pt;
    width: 539px;
    height: 123px;
    box-shadow: 10px 10px 10px #888888;
    border: 1px solid #004AAD;
}

.posicao{
    margin-left: -120px;
}

.posicao-cadastro{
    margin-left: -50px;
}

.border-text-aprenda{
    background-color: #fff;
    color: #004AAD;
    font-size: 70pt;
    width: 449px;
    height: 123px;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.border-text-aprenda:hover{
    background-color: #004AAD;
    color: #fff;
    font-size: 70pt;
    width: 449px;
    height: 123px;
    box-shadow: 10px 10px 10px #888888;
    border: 1px solid #fff;
}

.posicao-aprenda{
    margin-left: 40px;
}

.border-text-ensine{
    background-color: #004AAD;
    font-size: 70pt;
    width: 319px;
    height: 123px;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.border-text-ensine:hover{
    background-color: #fff;
    color: #004AAD;
    font-size: 70pt;
    width: 319px;
    height: 123px;
    box-shadow: 10px 10px 10px #888888;
    border: 1px solid #004AAD;
}

.posicao-ensine{
    margin-left: 170px;
}

.border-text-pergunta{
    background-color: #fff;
    color: #004AAD;
    font-size: 40pt;
    width: 420px;
    height: 215px;
}
.posicao-pergunta{
    margin-left: -50px;
    margin-top: -100px;
}

.border-text-conecta{
    background-color: #fff;
    color: #004AAD;
    font-size: 35pt;
    width: 969px;
    height: 206px;
}
.border-text-cadastre_se{
    background-color: #004AAD;
    color: #fff;
    font-size: 50pt;
    width: 400px;
    height: 123px;
    transition: all 0.5s;
    
}

h1 a{
    text-decoration: none;
    color: #fff;
}

.border-text-cadastre_se:hover{
    background-color: #004AAD;
    color: #fff;
    font-size: 50pt;
    width: 400px;
    height: 123px;
    box-shadow: 10px 10px 10px #888888;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.posicao-cadastre_se{
   margin-bottom: -50px;
   margin-top: 150px;
}

.border-text-squad{
    background-color: #fff;
    color: #004AAD;
    font-size: 45pt;
    width: 628px;
    height: 89px;
}


/*EQUIPE*/

.text-border{
    margin-top: 100px;
    transition: all .5s;
    border: 10px solid transparent;
    
}

.fs-25{
    font-size: 15pt;
}

.nome-posicao{
    margin-top: 100px;
    margin-bottom: -50px;
    margin-left: -50px;
    color: #004AAD;
    font-size: 30pt;
    
}


.img-posicao{
    margin-top: -90px;
    margin-left: -300px;
    margin-bottom: -20px;
}
    

.img-border{
    transition: all .5s;
    border: 10px solid transparent;
    border-radius: 100%;
}


.img-border:hover{
    border: 10px solid #004AAD;
    border-radius: 50%;
    margin-left: 100px;
}

.text-border:hover{
    background-color: #004AAD ;
    color: #fff;
    border: 1px solid #004AAD;
}

/*MARGENS*/

.ml-50{
    margin-left: -50px;
}

.mt-75{
    margin-top: 75px;
}

.mt-120{
    margin-top: 200px;
}

.mt-10{
    margin-top: 10px;
}

.mt-100{
    margin-top: 100px;
}

.mb-10{
    margin-bottom: 10px;
}


