<nav class="navbar  navbar-expand-lg bg-nav sticky-top">
    <a class="navbar-brand" href="#inicio"><img class="ml-5 tm-logo img-fluid mb-0" src="../../assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="text-white collapse navbar-collapse d-flex justify-content-center"
    id="conteudoNavbarSuportado">
      
        <ul class="navbar-nav font nav-font">
       
        <li class="mr-5">
          <a class="font-weight-bold nav-font" href="#inicio">Início</a>
        </li>

        <li class="nav-item mr-5">
            <a class="font-weight-bold nav-font" href="#sobre">Sobre</a>
          </li>

        <li class="nav-item mr-5">
            <a class="font-weight-bold nav-font" href="#">Cadastro</a>
        </li>

        <li class="nav-item mr-5">
            <a class="font-weight-bold nav-font" href="#">Entrar</a>
        </li>
        
        <li class="nav-item">
          <a class="font-weight-bold nav-font" href="#">Equipe</a>
        </li>        
      </ul>
      
    </div>
  </nav>

 <div id="inicio" class="container mt-75">
     <div class="row ">
         <div class="col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="5000" data-aos-once="true">
             <h1  class="page-font">Faça seu <span style="text-decoration: underline;">conhecimento</span>
                 <br>chegar a <br>todos</h1>
         </div>
         <div class="col-md-6"data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" >
            <img src="../../assets/img/conexao.gif" alt="">
        </div>
     </div>
 </div>

 <hr class="mt-5 mb-5">

<div id="sobre" class="container mt-75">
    <div class="row">
        <div class="col-md-6 mt-120">
            <img src="../../assets/img/mulher.png" alt="">
        </div>
        <div class="col-md-6 mt-75 border-text posicao" data-aos="fade-left" data-aos-duration="3000" data-aos-once="true">
            <h1 class="p-3 page-font-white">O EducaUS é onde você se aproxima de pessoas pela
                educação. Conecte-se com o conhecimento <br><br><br>            
                #LearnAndShare</h1>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5">