.postagem-feed {
    border: 2px solid #acb1b9;
    border-radius: 10px 10px 10px 10px;
    height: 200px;
    width: 800px;
    background-color: white;
}

.img-feed {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border-bottom: 1px solid #acb1b9;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.barra {
    height: 650px;
    width: 200px;
    border: 2px solid #acb1b9;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.caixa-feed {
    height: 100%;
    width: 41rem;
    border: 2px solid #acb1b9;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.text-area {
    left: 300px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.publicacao {
    height: 3rem;
    width: 33rem;
    border: 2px solid #acb1b9;
    border-radius: 10px 10px 10px 10px;
}

.teste {
    border: 1px solid red;
}

.texto {
    text-decoration: none;
}

.caixa-perfil {
    margin-top: 2rem;
    border: 2px solid #acb1b9;
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 1rem 1rem 1rem 1rem;
}

.caixa-perfil-2 {
    margin-top: 2rem;
    border: 2px solid #acb1b9;
    height: 80%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 1rem 1rem 1rem 1rem;
}

#perfil2 {
    height: 7rem;
    width: 7rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.padding {
    padding: 1rem;
}

.caixa-post {
    height: 9rem;
    width: 41rem;
    border: 2px solid #acb1b9;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
    margin-top: 2rem;
}

.tm-icon {
    height: 3rem;
    width: 10rem;
}

.titulo-centro {
    margin-left: 31%;
}

.fa {
    color: rgba(47, 161, 255, 0.555);
}

.caixa-anuncio {
    margin-top: 20px;
    border: 2px solid #acb1b9;
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 10px 10px 10px 10px;
}

.caixa-direita {
    margin-top: 2rem;
    border: 2px solid #acb1b9;
    height: 40%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 10px 10px 10px 10px;
}

.anuncio {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.img-feed2 {
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    border-bottom: 1px solid #acb1b9;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

.artigo-icon {
    height: 2rem;
    width: 2rem;
}

.link-icon {
    font-size: 2rem;
    color: #000000;
}