<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12 d-flex ">

            <div class="row">

                <div class="col-md-4 barra ml-3">

                    <div class="caixa-perfil d-flex row-reverse justify-content-around align-items-baseline">
                        <div>
                            <img src="../../assets/img/perfil.png" class="img-feed" id="perfil2" alt="">
                        </div>
                      <div>
                        <p class="mr-4">nome do individuo</p>
                
                      </div>
                      
                    </div>

                </div>


                <div class="col-md-6 ">
                    <div class="postagem-feed d-flex ">


                        <div class="col-md-2 d-flex align-items-center ml-3 ">

                            <img src="../../assets/img/perfil.png" class="img-feed" id="perfil" alt="">

                        </div>
                        <div class="col-md-10 d-flex align-items-center ">

                            <a href="" class="texto">
                                <div class="publicacao">

                                    <p class="mt-2 ml-3 text-muted ">Qualquer coisa</p>

                                </div>
                                <hr class="mt-3">
                            </a>


                        </div>


                    </div>


                    <div class="caixa-feed mt-3">

                    </div>

                </div>

            </div>




        </div>
    </div>
</div>