<nav class="navbar navbar-expand-lg navbar-light bg-nav  sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#"> <img src="../../assets/img/logo.png" alt=""
        class="d-inline-block align-top tm-logo"> </a>

    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">

      <form class="form-inline  my-2 my-lg-0 ">
        <ul class="navbar-nav font nav-font ">

          <li class="mr-5">
            <a class="font-weight-bold nav-font" href="#inicio">Início</a>
          </li>

          <li class="nav-item mr-5">
            <a class="font-weight-bold nav-font" href="#sobre">Sobre</a>
          </li>

          <li class="nav-item mr-5">
            <a class="font-weight-bold nav-font" routerLink='/cadastrar'>Cadastre-se</a>
          </li>

          <li class="nav-item mr-5">
            <a class="font-weight-bold nav-font" routerLink='/entrar'>Entrar</a>
          </li>

          <li class="nav-item">
            <a class="font-weight-bold nav-font" href="#equipe">Equipe</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
<div class="container" style="background-color: #fff;">
  <div class="row txt-img align-items-center" id="inicio">
    <div class="col-md-6">
      <div class="box1 ml-3" data-aos="zoom-in" data-aos-duration="5000" data-aos-once="true">
        <h1>Faça seu <span style="text-decoration: underline;">conhecimento</span>
          <br>chegar a <br>todos
        </h1>
      </div>
    </div>

    <div class="col-md-6">
      <div data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
        <img src="../../assets/img/conexao.gif" class='img-fluid ' style="width: 100%; ;" alt="" class="p-5">
      </div>
    </div>
  </div>

  <hr class=" mt-0 mb-5" id="sobre">
  <hr class="mt-5 mb-5">

  <div class="row txt-img" >
    <div class="col-md-6">
        
          <img src="../../assets/img/mulher.png" class="img-fluid" alt="Mulher">
        
      </div>

      <div class="col-md-6">
        <div  class=" box mt-4 " id="txt-2" data-aos="fade-left" data-aos-duration="3000" data-aos-once="true" >
          <h1  >O EducaUS é onde você se aproxima de pessoas pela
            educação. Conecte-se com o conhecimento <br>
            #LearnAndShare</h1>
        </div>
  
  
      </div>
  
      
    
    
  </div>

  <hr>
  <hr class="mt-5 mb-5">

  <div class="row txt-img">
    <div class="col-md-6">
      <img src="../../assets/img/pessoas.png" class="img-fluid " alt="Pessoas"> 
      
      <div class="box1 mt-txt mt-5" id="txt-oq_sabe " data-aos="fade-right" data-aos-duration="3000"
      data-aos-once="true"><h1  class="mt-4">O que sabe fazer? O que quer aprender? </h1></div>
      
    </div>
    <div class="col-md-6 mt-5">

      <div class="box txt-cadastre_se" ><h1  >Cadastre-se</h1></div>
      <div class=" box1 txt-aprenda "> <h1 >Aprenda</h1></div>
      <div class=" box txt-ensine mt-1"><h1 >Ensine </h1></div>
      
    </div>
  </div>

  <hr class=" mt-100">
  <hr class="mt-5 mb-5">

  <div class="row justify-content-center">
    <h1 class="d-flex justify-content-center align-items-center text-center"
      data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
      Conecte-se com milhares de pessoas<br>
      compartilhando conhecimento e<br>
      alcançando pessoas em todo mundo</h1>
  </div>

  

  <div class="row ">
    <div class="col-md-3 "> <img data-aos="fade-right" data-aos-duration="4000" data-aos-once="true"
        src="../../assets/img/seta1.png" class="img-fluid setas ml-5"></div>
    <div class="col-md-6 text-center">

    </div>
    <div class="col-md-3"> <img data-aos="fade-left" data-aos-duration="4000" data-aos-once="true"
        src="../../assets/img/seta2.png" class="img-fluid setas"></div>
  </div>
  <div class="d-flex justify-content-center ">
    <button class="mb-2 text-center box cadastre_se btn "  routerLink='/cadastrar'>Cadastre-se</button>
  </div>

  <hr id="equipe" class=" mt-100">
  <hr class="mt-5 mb-5">

  <div class="text-center">
    <h1 class="mb-5 squad">Conheça nossa squad:</h1>
  </div>


  <hr id="equipe" class=" mt-100">
  <hr class="mt-5 mb-5">

   <!--BIA E ALE-->
  <div class="ml-5 row mb-3 ">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 card-squad rounded">
          <div>
            <a data-toggle="collapse" data-parent="#accordion" href="#beatriz">
              <img class="img-border img-fluid" src="../../assets/img/bea.png" alt="">
            </a>
          </div>
          <div class="redes text-center mb-2">
            <a href="https://github.com/Beatriz-Oliveira-Dev" target="_blank">
              <i class="rs-border fa fa-github-square" aria-hidden="true" href=""></i></a>
            |
            <a href="https://www.linkedin.com/in/beatriz-l-88ab81117/" target="_blank"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center card-squad rounded">
          <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title mb-0 font font-weight-bold">
                    <a class="rounded" data-toggle="collapse" data-parent="#accordion" href="#beatriz">Beatriz
                      Oliveira</a>
                  </h4>
                </div>
                <div id="beatriz" class="panel-collapse collapse in ">
                  <div class="panel-body text-justify">Apaixonada por tecnologia desde pequena, Beatriz está sempre
                    em constante evolução a faculdade de Design de Interiores a fez adorar desenvolver projetos
                    criativos.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center card-squad rounded">
          <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title mb-0 font font-weight-bold">
                    <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion"
                      href="#alexandre">Alexandre N.</a>
                  </h4>
                </div>
                <div id="alexandre" class="panel-collapse collapse in ">
                  <div class="panel-body text-justify">Meu esporte preferido é o futebol,
                    mas o basquete por vezes enche meus olhos. Já na tecnologia, back-end é o futebol e, o front-end
                    o basquete.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-squad rounded">
          <div>
            <a data-toggle="collapse" data-parent="#accordion" href="#alexandre">
              <img class="img-border img-fluid" src="../../assets/img/ale.png" alt="">
            </a>
          </div>
          <div class="redes text-center mb-2">
            <a href="https://github.com/Ale-noga" target="blank">
              <i class="rs-border fa fa-github-square" aria-hidden="true" href=""></i>
            </a> |
            <a href="https://www.linkedin.com/in/alexandre-nogueira-88262716a/" target="blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--GABRIEL E LUCAS-->
  <div class="ml-5 row  mb-3">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 card-squad rounded">
          <div>
            <a data-toggle="collapse" data-parent="#accordion" href="#gabriel">
              <img class="img-border img-fluid" src="../../assets/img/gab.png" alt="">
            </a>
          </div>
          <div class="redes text-center mb-2">
            <a href="https://github.com/brMonteiro-G" target="blank">
              <i class="rs-border fa fa-github-square" aria-hidden="true"></i>
            </a> |
            <a href="https://www.linkedin.com/in/gabriel-monteiro-2b6a79207/" target="blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center card-squad rounded">
          <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title mb-0 font font-weight-bold">
                    <a class="rounded" data-toggle="collapse" data-parent="#accordion" href="#gabriel">Gabriel
                      Monteiro</a>
                  </h4>
                </div>
                <div id="gabriel" class="panel-collapse collapse in ">
                  <div class="panel-body text-justify">Sempre me perguntam o que eu sei, e sempre respondo: Estou
                    disposto para
                    aprender! O conhecimento é ilimitado e a paixão por descobrir tecnologia e novas visões me
                    encantam.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center card-squad rounded">
          <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title mb-0 font font-weight-bold">
                    <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion" href="#lucas">Lucas
                      Pereira</a>
                  </h4>
                </div>
                <div id="lucas" class="panel-collapse collapse in ">
                  <div class="panel-body text-justify">Paulistano e apaixonado por tecnologia. Eu tenho domínio em
                    desenvolvimento de API's (Spring Framework), front-end (Angular Framework) e banco de dados
                    relacionais (MySQL).
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-squad rounded">
          <div>
            <a data-toggle="collapse" data-parent="#accordion" href="#lucas">
              <img class="img-border img-fluid" src="../../assets/img/luc.png" alt=""></a>
          </div>
          <div class="redes text-center mb-2">
            <a href="https://github.com/lucasspereira" target="blank"> <i class="rs-border fa fa-github-square"
                aria-hidden="true"></i></a> |
            <a href="https://www.linkedin.com/in/lcspereira/" target="blank"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--MATEUS E ALEXSANDRO-->
  <div class="ml-5 row  mb-3">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 card-squad rounded">
          <div>
            <a data-toggle="collapse" data-parent="#accordion" href="#mateus"><img class="img-border img-fluid"
                src="../../assets/img/mat.png" alt=""></a>
          </div>
          <div class="redes text-center mb-2">
            <a href="https://github.com/mateuspeixoto" target="blank">
              <i class="rs-border fa fa-github-square" aria-hidden="true"></i>
            </a> |
            <a href="https://www.linkedin.com/in/perfilmateuspeixoto/" target="blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center card-squad rounded">
          <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title mb-0 font font-weight-bold">
                    <a class="rounded" data-toggle="collapse" data-parent="#accordion" href="#mateus">Mateus
                      Peixoto</a>
                  </h4>
                </div>
                <div id="mateus" class="panel-collapse collapse in ">
                  <div class="panel-body text-justify">Criar faz parte da minha essência, Técnico em Mecatrônica ,
                    seguindo
                    carreira como cientista e agora Desenvolvedor Web, apoio objetivos sociais e ambientais.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center card-squad rounded">
          <div class="container">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title mb-0 font font-weight-bold">
                    <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion"
                      href="#alex">Alexsandro A.</a>
                  </h4>
                </div>
                <div id="alex" class="panel-collapse collapse in ">
                  <div class="panel-body text-justify">Fascinado por aprender outros idiomas e novas culturas. Quero
                    adquirir
                    mais conhecimento através da programação e suas infinitas possiblidades!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-squad rounded">
          <div>
            <a class="rounded text-center" data-toggle="collapse" data-parent="#accordion" href="#alex">
              <img class="img-border img-fluid" src="../../assets/img/alex.png" alt="">
            </a>
          </div>
          <div class="redes text-center mb-2">
            <a href="https://github.com/Alexsandro-Assun" target="blank">
              <i class="rs-border fa fa-github-square" aria-hidden="true"></i>
            </a> |
            <a href="https://www.linkedin.com/in/alexsandro-assun%C3%A7%C3%A3o-719523207/" target="blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


 


































