/*ESTILO BARRA NAVEGAÇÃO*/

.m-nav {
    margin-left: 36rem;
}

.fs-nb {
    font-size: 1.5rem;
}

.tm-nav {
    height: 4rem;
    border-radius: 0rem 0rem 3rem 3rem;
    border-bottom: 1px solid #acb1b9;
}

.tm-logo {
    border-radius: 0rem 0rem 3rem 3rem
}

.bd-bt {
    border-radius: 3rem 3rem 3rem 3rem
}

li:hover {
    text-decoration: none;
    font-size: 1.6rem;
}

p:hover {
    color: #007bff;
}