<div class="container">
    <div class="caixa-um mt-4">
        <h2 class="d-flex justify-content-center mt-3">Temas</h2>

        <div>
            <a href="" data-toggle="modal" data-target="#novoTema" style="text-decoration:none">
                <div class="d-flex justify-content-center ">
                    <i class="fa fa-plus icon-nv-tema mt-4" aria-hidden="true"></i>
                </div>
            </a>
        </div>

        <nav class="navbar navbar-light bg-white d-flex justify-content-center mt-2 pesquisa-barra">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar um tema" aria-label="Pesquisar">
                <button class="btn btn-primary " type="submit ">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class="sinal"></span>
                </button>
            </form>
        </nav>

    </div>

    <div class="caixa-dois text-center" style=" height: 300px; overflow: auto;">
        <table class="table table-hover table-light mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Alterações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let tema of listaTema'>
                    <th scope="row">{{tema.id}}</th>
                    <td>{{tema.nome}}</td>
                    <td>
                        <div class="row d-flex justify-content-center ">
                            <a href="" data-toggle="modal" data-target="#editarTema" style="text-decoration:none" [routerLink]="['/tema', tema.id]">
                                <div>
                                    <i class="fa fa-pencil icons-edit-del mr-1" aria-hidden="true"></i>
                                </div>
                            </a>

                            <a href="" data-toggle="modal" data-target="#excluirTema" style="text-decoration:none" [routerLink]="['/tema', tema.id]">
                                <div class="mr-1">
                                    <i class="fa fa-trash-o icons-edit-del ml-1" style="color: red;" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal novo tema-->
<div class="modal fade " id="novoTema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-educa text-white bordaN">
                <h4 class="modal-title titulo-centro font-weight-bold" id="TituloModalCentralizado">Novo Tema</h4>


                <button type="button" class="close ml-auto text-white" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <h3 class="text-center font-weight-bold color">Tema:</h3>
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-10">
                                <input [(ngModel)]='tema.nome' type="text" class="form-control align-items-center" name="nome" id="nome" placeholder="Novo tema">
                            </div>
                        </div>

                    </div>
                </form>


            </div>
            <div class="d-flex justify-content-center mb-3 ">
                <button type="button" class="btn btn-danger mr-4 btn-lg modalB" data-dismiss="modal">Cancelar</button>
                <button type="button" class="text-white btn btn-lg modalB" style="background-color:#004AAD;" data-dismiss="modal" (click)="cadastrarTema()">Publicar</button>
            </div>
        </div>
    </div>
</div>

<!--/Modal novo tema-->
<!-- Modal editar tema-->
<div class="modal fade " id="editarTema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-educa text-white bordaN">
                <h4 class="modal-title titulo-centro font-weight-bold" id="TituloModalCentralizado">Editar Tema</h4>


                <button type="button" class="close ml-auto text-white" data-dismiss="modal" aria-label="Fechar" [routerLink]="['/tema']">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <h3 class="text-center font-weight-bold color">Tema:</h3>
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-10">
                                <input [(ngModel)]='tema.nome' type="text" class="form-control align-items-center" name="nome" id="nome">
                            </div>
                        </div>

                    </div>
                </form>


            </div>
            <div class="d-flex justify-content-center mb-3 ">
                <button type="button" class="btn btn-danger mr-4 btn-lg modalB" data-dismiss="modal" [routerLink]="['/tema']">Cancelar</button>
                <button type="button" class="text-white btn btn-lg modalB" style="background-color:#004AAD;" data-dismiss="modal" (click)="editarTema()">Atualizar</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal editar tema-->

<!-- Modal excluir tema-->
<div class="modal fade " id="excluirTema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-educa text-white bordaN">
                <h4 class="modal-title titulo-centro font-weight-bold" id="TituloModalCentralizado">Excluir Tema
                </h4>


                <button type="button" class="close ml-auto text-white" data-dismiss="modal" aria-label="Fechar" [routerLink]="['/tema']">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <h3 class="text-center font-weight-bold color">Deseja excluir este tema?</h3>
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-10">
                                <p class="text-center font-weight-bold">{{tema.nome}}</p>
                            </div>
                        </div>

                    </div>
                </form>


            </div>
            <div class="d-flex justify-content-center mb-3 ">
                <button type="button" class="btn btn-danger mr-4 btn-lg modalB" data-dismiss="modal" [routerLink]="['/tema']">Cancelar</button>
                <button type="button" class="text-white btn btn-lg modalB" style="background-color:#004AAD;" (click)="deleteTema()" data-dismiss="modal">Excluir</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal excluir tema-->