/* GERAL OFICIAL */
html{
    scroll-behavior: smooth;
    
}


.font {
    font-family: Helvetica, sans-serif;
}
.font-spartan{
    font-family: 'Spartan', sans-serif;
}

.color {
    color: #004AAD;
}

.border {
    border: 5px solid red;
}

.bg {
    background-color: #f3f2ee;
}

.div-nome {
    border: 2px;
}

.bg-educa{
    background-color: #004AAD;

}

