/* GERAL OFICIAL */
html{
    scroll-behavior: smooth;
<<<<<<< HEAD
}
=======
    
}


>>>>>>> 35b402bff33edc42fd001dc53c75eeb386641217
.font {
    font-family: Helvetica, sans-serif;
}

.color {
    color: #004AAD;
}

.border {
    border: 5px solid red;
}

.bg {
    background-color: #f3f2ee;
}

.div-nome {
    border: 2px;
}

