
  <footer class=" text-center text-white mt-5" id="grad">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
  
      <section class="mb-4">
  
        <a class="btn btn-outline-light btn-floating m-1" onClick='window.scroll(0,0)' role="button"> Home</a>
  
  
        <a class="btn btn-outline-light btn-floating m-1" onClick='window.scroll(0,0)' role="button">Sobre nós </a>
  
  
        <a class="btn btn-outline-light btn-floating m-1" routerLink="/diretrizes" role="button">Contrato do Usuário</a>
  
  
        <a class="btn btn-outline-light btn-floating m-1" routerLink="/diretrizes" role="button">Políticas de
          privacidade</a>
  
  
        <a class="btn btn-outline-light btn-floating m-1" routerLink="/diretrizes" role="button">Diretrizes da
          comunidade</a>
      </section>
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © educaUs 2021 :
  
    </div>
    <!-- Copyright -->
  </footer>
  
  




































<!--<div class="container margin">
  <div class="row">

    <footer id="footer" class="d-flex justify-content-around align-items-center">

      <p class="logo"><img class="img-fluid logo" src="../../assets/img/Educa Us 1PDF.png" alt="Logo"></p>

      <p class="padding-rodape font">educaUs © 2021</p>

      <a routerLink="/home">
        <p class="padding-rodape font">Home</p>
      </a>

      <a routerLink="/home">
        <p class="padding-rodape font">Sobre nós</p>
      </a>

      <a routerLink="/diretrizes" target="blank">
        <p class="padding-rodape font">Contrato do Usuário</p>
      </a>

      <a routerLink="/diretrizes" target="blank">
        <p class="padding-rodape font">Políticas de privacidade</p>
      </a>

      <a routerLink="/diretrizes" target="blank">
        <p class="padding-rodape font">Diretrizes da comunidade</p>
      </a>

    </footer>

  </div>
</div> -->