<div class="d-flex justify-content-center align-items-stretch">
    <footer class="d-flex justify-content-around align-items-center">
      <p class="logo"><img class="img-fluid logo" src="../../assets/img/Educa Us 1PDF.png" alt="Logo"></p>
      <p class="padding-rodape" >educaUs ©  </p>
      <p class="padding-rodape" >Sobre nós </p>
      <p class="padding-rodape" >Acessibilidade </p>
      <p class="padding-rodape" >Políticas de privacidade</p>
      <p class="padding-rodape" >Diretrizes da comunidade</p>
    </footer>
