<hr class="mt-5 mb-5">

<div class="d-flex justify-content-center align-items-stretch ">
  <footer id="footer" class="d-flex justify-content-around align-items-center">
    <p class="logo"><img class="img-fluid logo" src="../../assets/img/Educa Us 1PDF.png" alt="Logo"></p>
    <p class="padding-rodape font">educaUs © 2021</p>
    <a routerLink="/home">
      <p class="padding-rodape font">Home</p>
    </a>
    <a routerLink="/home">
      <p class="padding-rodape font">Sobre nós</p>
    </a>
    <a routerLink="/diretrizes" target="blank">
      <p class="padding-rodape font">Contrato do Usuário</p>
    </a>
    <a routerLink="/diretrizes" target="blank">
      <p class="padding-rodape font">Políticas de privacidade</p>
    </a>
    <a routerLink="/diretrizes" target="blank">
      <p class="padding-rodape font">Diretrizes da comunidade</p>
    </a>
  </footer>

</div>