

/*ESTILO FOTO PERFIL, FOTO CAPA E INFORMAÇÕES PERFIL*/


.img-config {
    width: 77.5vw;
    height: 17rem;
    border-bottom: 1px solid #acb1b9;
}

#perfil {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    margin-top: -12.5rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    border: 2px solid #004AAD
}

.bd-pf {
    
    border: 2px solid #acb1b9;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    margin-top: -1.5rem;
    background-color: white;
}

.tm-container{
    width: 77.5%;
}
.persona {
    
    border: 2px solid #acb1b9;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    height: 10% ;
    background-color: white;
}
.background-perfil {
    
    border: 2px solid #acb1b9;
    border-top: none;
    border-radius: 0 0 1.5rem 1.5rem;
    height: 20% ;
    background-color: white;
}

.dperfil{
    margin-left: 1.5rem;
}

/*BARRA PESQUISA DO FEED*/
.btn-outline-primary:hover{
    color: #ffff;
    background-color: #007bff;
    transition: all 0.5s;    
}

/*#TemasSeguidos*/
.margin-left{
    margin-left: 12.5%;
}
.bg-seguidos {
    
    border: 2px solid #acb1b9;
    border-top: none;
    border-radius: 0 0 1.5rem 1.5rem;
    height: 20%;
    background-color: white;
}
.font-perfil{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}
.font-novo-post{
    font-size: 1.6rem;
    text-align: center;
    
}

@media (max-width: 767.98px){
    .bg-seguidos{
        margin-right: 12.5%;
    }
    .background-perfil{
        margin-right: 12.5%;
        margin-left: 12.5%;
    }
    .persona{
        margin-right: 12.5%;
        margin-left: 12.5%; 
    }
}