<!--FOTO DE PERFIL E CAPA-->

<div class="container-fluid d-flex justify-content-center">

    <div class="row">
        <div class="col-md-12 ">
            <div>
                <img src="../../assets/img/capatest2.jpg" class="img-fluid img-config rounded" alt="Imagem responsiva">
            </div>
            <div>
                <img src="../../assets/img/perfil.png" class="img-fluid " id="perfil" alt="">
            </div>
        </div>
    </div>


</div>

<div class="container-fluid tm-container">

    <div class="row ">
        <div class="col-md-12 bd-pf d-flex justify-content-between row-reverse color font">

            <div class="dperfil">MATEUS VACILÃO PEIXOTO</div>
            <div class="dperfil mr-auto"> @matpeix</div>
            <div class="dperfil mr-3">Feed </div>

        </div>

    </div>
</div>

<div class="container-fluid ">

    <div class="row d-flex justify-content-center ">
        <div class="col-md-3 persona">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae aperiam libero est autem impedit mollitia minus harum deserunt recusandae rerum, in sequi eum doloremque ipsam amet et velit commodi voluptatum!
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-baseline background-perfil btn-outline-primary">

            <div class="font-novo-post">Contribua para a comunidade, Usuario: </div>


        </div>

    </div>

    <div class="row">
        <div class="col-md-3 justify-content-start margin-left bg-seguidos">
            <div class="color font font-perfil">
                #Temas Seguindo
            </div>
        </div>
    </div>

</div>


<!--CONTINUAÇÃO "COMENTEM"-->






<!-- v.1 teste
     <div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="justify-content-center">
                <img src="../../assets/img/capatest2.jpg" class="img-fluid bd-cp img-config " alt="Imagem responsiva">
            </div>
            <div>
                <img src="../../assets/img/perfil.png" id="perfil" alt="">
            </div>
            <div class="bd-pf">
                <div class="row d-flex justify-content-center  ">
                    <div class="col-md-12 ">
                        <div class="row d-flex align-items-end">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta libero officia velit
                                quibusdam
                                optio modi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->