<!--BARRA DE NAVEGAÇÃO-->
<nav class="navbar py-1 navbar-expand-lg navbar-light bg-white tm-nav">
    <img src="../../assets/img/logo-educaUs-gif.gif" class="tm-logo" width="60px" height="60px" alt="">
    <button class="navbar-toggler bd-bt" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--BOTÕES BARRA DE NAVEGAÇÃO-->
    <div class="collapse navbar-collapse align-items-baseline" id="conteudoNavbarSuportado">

        <form class="form-inline my-2 ml-5">
            <input class=" form-control mr-sm-2 " type="search " placeholder="" aria-label="Pesquisar">
            <button class="btn btn-primary btn-md active
            my-2 my-sm-0 " type="submit "><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>

        <ul class="navbar-nav ml-lg-auto fs-nb justify-content-around">
            <li class="nav-item active">
                <a class=" nav-link" href="# ">
                    <p class="color font-weight-bold mr-5">Home</p>

                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="# ">
                    <p class="color font-weight-bold mr-5"> #Temas</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="# ">
                    <p class="color font-weight-bold mr-5"> Perfil </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p class="color font-weight-bold mr-5"> Sair <i class="fa fa-sign-out color" aria-hidden="true"></i>
                    </p>
                </a>

            </li>
        </ul>
    </div>
</nav>

<!--FOTO DE PERFIL E CAPA-->
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="justify-content-center">
                <img src="../../assets/img/capatest2.jpg" class="img-fluid bd-cp img-config" alt="Imagem responsiva">
            </div>
            <div>
                <img src="../../assets/img/perfil.png" id="perfil" alt="">
            </div>
            <div class="bd-pf">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>

<!--CONTINUAÇÃO "COMENTEM"-->